main {
  width: 100vw;
  height: 140vh;
  display: flex;
  justify-content: center;
  background-color: hsl(233, 47%, 7%);
}

section {
  width: 280px;
}

.card {
  color: hsl(0, 0%, 100%);
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.7rem;
  overflow: hidden;
  display: grid;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.card__img {
  border-radius: 0.7rem;
  position: relative;
  filter: contrast(120%);
}

.card__img--filter {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: hsl(277, 64%, 61%);
  opacity: 0.5;
}

.card__content {
  padding: 1.8rem;
  display: grid;
  gap: 1.5rem;
  text-align: center;
}

.card__title {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.card__title--style {
  color: hsl(277, 64%, 61%);
}

.card__description {
  font-size: 0.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}

.card__statistic {
  display: grid;
  gap: 1.8rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
}

.card__statistic--style {
  display: block;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.attribution a {
  color: hsl(277, 64%, 61%);
}

@media (min-width: 900px) {
  section {
    width: 650px;
  }

  .card {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__img {
    grid-area: 1 / 2 / 2 / 3;
  }

  .card__content {
    padding: 1.6rem;
    text-align: left;
  }

  .card__statistic {
    grid-template-columns: repeat(3, 1fr);
  }
}
